@import "callouts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply cursor-default antialiased bg-white dark:bg-slate-900 text-black dark:text-white;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

/* CSS to target the first h1 or h2 inside a Callout */
.callout > h1:first-child,
.callout > h2:first-child {
  margin-top: 16px;
}

/* lists in markdown Content */
li.mdli {
  display: list-item;
  margin-top: 1rem !important;
  margin-bottom: 0.25rem !important;
}

ol:has(li.mdli) {
  list-style-type: decimal !important;
  list-style-position: outside;
}

ul:has(li.mdli) {
  list-style-type: disc !important;
  list-style-position: outside;
}

:root {
  --icon-stroke-width: 1px;
}

.parent-hovered {
  --icon-stroke-width: 2px;
}

.nav-chevron {
  stroke-width: var(--icon-stroke-width);
}

/* these css classes are used to style the chevron in the navbar when navdiagrams open */
.collapsed {
  /* Styles for chevron right */
  transition: transform 0.3s ease;
}

.expanded {
  /* Styles for chevron down */
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
